body {
    background-color:blanchedalmond;
}
#location-card {
    width: 100%;    
    height: 50%;
    border: 1px solid black;
    margin-right: 30px;

}
#movie-card {
    width: 100%;    
    height: 50%;
    border: 1px solid black;
    margin-right: 30px;
}



